# ------------------------
# Java / Spring Boot
# ------------------------
/target/
!/src/main/**/target/
!/src/test/**/target/

# Logs
*.log
*.out

# OS Files
.DS_Store
Thumbs.db

# ------------------------
# IntelliJ IDEA
# ------------------------
.idea/
*.iml
*.iws
out/

# ------------------------
# VS Code
# ------------------------
.vscode/
.history/

# ------------------------
# Maven
# ------------------------
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw.cmd
mvnw

# ------------------------
# Gradle (if present)
# ------------------------
.gradle/
build/

# ------------------------
# Environment / Secrets
# ------------------------
application-*.yml
application-*.properties
.env

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
